<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Kumpula Project Bahasa Pemprograman</title>
</head>

<body>
  <div class="container">
    <div id="scrollDiv" class="header scrolled">
      <div class="logo" id="tab">
        <img id="light" src="/asset/logo_light.png">
        <p id="scroll">ZEAZURE TEMPLATE</p>
      </div>
      <div class="bar">
        <a href="/" id="scroll">
          <p>Home</p>
        </a>
        <a href="#lainnya" class="pc" id="scroll">
          <p>terbaru</p>
        </a>
        <a href="#tentang" id="scroll">
          <p>Tentang</p>
        </a>
      </div>
      <div class="opsi">
        <a href="mailto: trismiweb@gmail.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-envelope"
            viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
          </svg>
        </a>
        <a href="/login/signin/">
          <svg id="scroll" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
            class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="marque">
      <div class="kiri">
        <p>Berita Terkini</p>
      </div>
      <div class="kanan">
        <marquee behavior="" direction="">Ingin tau tentang olympus dan tempat apa itu, baca artikel terbaru dari kami !
        </marquee>
      </div>
    </div>
    <div class="isian">
      <div class="" id="highlight">
        <div class="highlight">
          <div class="title">
            <h2>HIGHLIGHT</h2>
          </div>
          <div class="slide">
            <div class="tombol">
              <a class="prev" onclick="nextslide(-1)">&#10094;</a>
            </div>
            <div class="item">
              <img src="/asset/project/slide.png" alt="">
            </div>
            <div class="item">
              <img src="/asset/wallpaper.jpg" alt="">
            </div>
            <div class="item">
              <img src="/asset/wallblur.jpg" alt="">
            </div>
            <div class="tombol">
              <a class="next" onclick="nextslide(1)">&#10095;</a>
            </div>
          </div>
          <div class="button">
            <span class="line" onclick="dotslide(1)"></span>
            <span class="line" onclick="dotslide(2)"></span>
            <span class="line" onclick="dotslide(3)"></span>
          </div>
        </div>
      </div>
      <div class="artikel" id="Artikel-terbaru">
        <div class="perkenalan">
          <div class="head">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
              <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
            </svg>
          </div>
          <div id="tentang" class="judul">
            <h2>Tentang Halaman</h2>
          </div>
          <div class="isi">
            <center><p>Pada halaman ini teman-teman dapat menemukan kumpulan template dari berbagai bahasa pemrograman yang siap pakai. Template ini bisa kalian salin dan digunakan di PC.</p></center>
          </div>
        </div>
      </div>
      <div class="utama">
        <div class="ads"></div>
        <div class="article">
          <div class="judul">
            <h2>Template Kami</h2>
          </div>
          <div class="isi">
            <a href="/fitur/template/kalkulator/" class="data">
              <div class="gambar" id="kalkulator"></div>
              <div class="judul">
                <div class="atas">
                  <p>Cara Membuat Kalkulator</p>
                </div>
                <div class="bawah">
                  <div class="kiri">
                    <p>#html #css</p>
                  </div>
                  <div class="kanan">
                    <p>Rilis 08/06/2023</p>
                  </div>
                </div>
              </div>
            </a>
            <a class="data">
              <div class="gambar" id="kalkulator"></div>
              <div class="judul">
                <div class="atas">
                  <p>Cara Membuat Slide</p>
                </div>
                <div class="bawah">
                  <div class="kiri">
                    <p>#html #css #js</p>
                  </div>
                  <div class="kanan">
                    <p>Rilis 08/06/2023</p>
                  </div>
                </div>
              </div>
            </a>
            <a class="data">
              <div class="gambar" id="kalkulator"></div>
              <div class="judul">
                <div class="atas">
                  <p>Cara Membuat Slide</p>
                </div>
                <div class="bawah">
                  <div class="kiri">#html #css #js</div>
                  <div class="kanan">
                    <p>Rilis 08/06/2023</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="ads"></div>
      </div>
      <div class="footer">
        <div class="title">
          <div class="logo">
            <img src="/asset/logo_light.png" alt="">
          </div>
          <div class="slogan">
            <p>The Power of Imagination</p>
          </div>
        </div>
        <div class="isian">
          <div class="menu">
            <div class="text">
              <h2>MENU</h2>
              <p>Tentang</p>
              <p>Headline</p>
              <p>Fitur</p>
              <p>Development</p>
            </div>
          </div>
          <div class="medsos">
            <div class="text">
              <h2>MEDSOS</h2>
              <p>@zeazure.ofc</p>
              <p>@tristan.aw_</p>
            </div>
          </div>
          <div class="kontak">
            <div class="text">
              <h2>KONTAK</h2>
              <p>+62-821-2470-0560</p>
              <p>trismiweb@gmail.com</p>
            </div>
          </div>
          <div id="kontak">
            <div class="text">
              <center>
                <h2>Kontak</h2>
                <p>@tristan_a.w</p>
                <p>@trifapa.xyz</p>
                <p>+62-821-2470-0560</p>
                <p>trismiweb@gmail.com</p>
              </center>
            </div>
            <div class="copyright">
              <center>
                <p>C Copyright 2023</p>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="script.js"></script>
</body>

</html>