*{
    font-family: 'Arial';
  }
  
  body{
    margin: 0;
    background-color: #2B9700;
    overflow-x: hidden;
  }
  
  .background{
    margin-top: -32vh;
    margin-left: 155vh;
    width: 500px;
  }
  
  .container{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -32vh;
    height: auto;
  }
  
  .header{
    position: sticky;
    top: 0;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s ease;
    width: 100%;
    height: 12vh;
  }
  
  .scrolled{
    background: #ceffbb;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  
  .header .judul{
    display: flex;
    align-items: center;
  }
  
  .header .judul .logo img{
    margin: 15px 5px 10px 15px;
    width: 65px;
  }
  
  .header .judul .title h2{
    font-size: 18px;
    margin: 0;
  }
  
  .header .tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  
  .tab ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .tab .text{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 25%;
    height: 23px;
  }
  
  .tab .text:hover, .tab .text:hover a{
    background-color: #2B9700;
    color: #fff;
  }
  
  .tab a{
    text-decoration: none;
    color: #000;
  }
  
  .isian{
    height: 265vh;
  }
  
  #highlight{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 55vh;
  }
  
  .highlight{
    width: 70%;
    height: 55vh;
  }
  
  .highlight .title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10vh;
  }
  
  h2{
    margin: 0;
  }
  
  .highlight .slide{
    height: 40vh;
    display: flex;
    justify-content: center;
  }
  
  .highlight .tombol{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
  }
  
  .prev,
  .next{
    cursor: pointer;
    height: 10px;
    color: #bbb;
    transition: 0.2s ease;
  }
  
  .prev:hover,
  .next:hover{
    transform: scale(1.2);
    color: rgba(0,0,0,0.8);
  }
  
  .highlight .item{
    width: 51%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .highlight .item img{
    width: 100%;
  }
  
  .highlight .button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
  }
  
  .highlight .button .line{
    cursor: pointer;
    margin: 0 5px 0 5px;
    border-radius: 20px;
    width: 30px;
    height: 5px;
    transition: 0.5s ease;
    background-color: #bbb;
  }
  
  .button .line:hover{
    background-color: rgba(0,0,0,0.8);
  }
  
  .highlight .button .line.active{
    background-color: rgba(0,0,0,0.8);
  }
  
  .artikel{
    height: 30vh;
    margin: 10px;
    background-color: #6bd0dd;
    border-radius: 10px;
    border: #808080 1px solid;
  }
  
  .artikel .judul{
    display: flex;
    align-items: center;
    height: 7vh;
  }
  
  .artikel .judul h2{
    margin: 5px 0 0 40px;
  }
  
  .artikel .pilihan{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 23vh;
  }
  
  .artikel .pilihan .kotak{
    border: #bbb 1px solid;
    width: 250px;
    height: 20vh;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .utama{
    height: 130vh;
    display: flex;
  }
  
  .ads{
    margin-top: 15px;
    height: 80%;
    width: 5%;
  }
  
  .article{
    margin-top: 15px;
    height: 80%;
    width: 67%;
  }
  
  .article .isi{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 22vh;
    width: 97%;
    border-radius: 5px;
    border: #000 1px solid;
  }
  
  .article .isi .gambar{
    display: flex;
    align-items: center;
    width: 25%;
  }
  
  .article .isi .gambar img{
    width: 100%;
  }
  
  .article .isi .deskripsi{
    margin-left: 10px;
    width: 70%;
  }
  
  .article .isi .deskripsi .title{
    display: flex;
    height: 4vh;
    align-items: flex-end;
  }
  
  .article .isi .deskripsi .desk{
    height: 9vh;
  }
  
  .article .isi .deskripsi .desk p{
    display: flex;
    align-items: flex-start;
    margin: 0px;
  }
  
  .article .isi .deskripsi .tombol{
    height: 5vh;
  }
  
  .article .isi .deskripsi .tombol .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0894a7;
    height: 100%;
    width: 120px;
    border-radius: 50px;
    box-shadow: 1px 2px rgba(0,0,0,0.2);
  }
  
  .article .isi .deskripsi .tombol a{
    text-decoration: none;
    color: #fff;
  }
  
  .utama .side{
    margin-top: 15px;
    width: 23%;
    height: 80%;
  }
  
  .utama .side .atas{
    height: 45vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
    border: #000 1px solid;
  }
  
  .utama .side .tengah{
    margin-top: 10px;
    height: 20vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
    border: #000 1px solid;
  }
  
  .side .tengah .isi{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14vh;
    width: 100%;
  }
  
  .side .tengah .isi img{
    height: 70px;
    width: 97px;
  }
  
  .side .bawah{
    margin-top: 10px;
    height: 48vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 7px;
    background-color: #e0e0e0;
    border: #000 1px solid;
  
  }
  
  .footer{
    background-color: #343646;
    height: 47vh;
    color: #fff;
  }
  
  .footer .title{
    display: flex;
    height: 12vh;
    width: 100%;
  }
  
  .footer .title .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
  }
  
  .footer .title .logo img{
    width: 61%;
  }
  
  .footer .title .slogan{
    height: 100%;
    width: 90%;
    display: flex;
    font-size: 17px;
    align-items: center;
    font-weight: bold;
  }
  
  .footer .isian{
    height: 33vh;
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    display: flex;
  }
  
  .footer .isian .menu, .footer .isian .medsos, .footer .isian .kontak{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 33%;
  }
  
  .footer .text{
    height: 100%;
    width: 50%;
  }
  
  .footer #kontak{
    display: none;
  }  

  #baru-1{
    background-image: url(/asset/topup/ml.jpg);
    background-size: cover;
  }

  #baru-2{
    background-image: url(/asset/topup/free-fire-logo.jpg);
    background-size: cover;
  }

  #baru-3{
    background-image: url(/asset/topup/ml.jpg);
    background-size: cover;
  }

  #baru-4{
    background-image: url(/asset/topup/ml.jpg);
    background-size: cover;
  }