*{
  font-family: 'arial';
}

body{
  padding: 0;
  margin: 0;
  width: 100%;
}

.latar{
  width: 100%;
  padding: 0;
  height: 100vh;
  background-image: url(/asset/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.latar .atas{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 0vh;
}

.latar .logo{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.latar .logo img{
  width: 100%;
  height: 100%;
}

.latar .bawah{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

@media (max-width: 900px){
  .bawah .board{
      width: 90%;
      height: 65%;
      border-radius: 20px;
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0, 0.2);
  }

  .tombol{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0%;
      width: 50%;
  }
}

@media (min-width: 900px){
  .bawah .board{
      width: 50%;
      height: 50%;
      border-radius: 20px;
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0, 0.2);
  }
  
  .tombol{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 70px;
      width: 50%;
  }
}

/* Slideshow container */

.slide {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 90%;
}

.isian {
  display: none;
  color: #fff;
  z-index: 2;
  width: 90%;
}

img {
  margin-top: 10px;
  margin-bottom: -10px;
  vertical-align: middle;
  width: 100px;
  height: 100px
}

.prev,
.next {
  color: rgb(255, 254, 224);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  height: 100%; 
}

.next {
  left: 0;
  border-radius: 3px 0 0 3;
}

.prev:hover,
.next:hover {
  color: #48C7E6;
}

.page{
  display: flex;
  justify-content: center;
  height: 100%;
}

.page .dot {
  cursor: pointer;
  height: 5px;
  width: 25px;
  margin: 0 2px;
  background-color: #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50px;
}

.page .active,
.page .dot:hover {
  background-color: #48C7E6;
}


