*{
    font-family: 'Arial';
  }
  
  body{
    margin: 0;
    background-color: #0084A4;
    overflow-x: hidden;
  }
  
  .background{
    margin-top: -32vh;
    margin-left: 155vh;
    width: 500px;
  }
  
  .container{
    position: absolute;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -32vh;
    height: auto;
  }
  
  .header{
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
    background-color: #fff;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.3s ease;
    width: 100%;
    height: 12vh;
  }
  
  .scrolled{
    background: #b6f0ff;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  
  .header .judul{
    display: flex;
    align-items: center;
  }
  
  .header .judul .logo img{
    margin: 15px 5px 10px 15px;
    width: 65px;
  }
  
  .header .judul .title h2{
    font-size: 18px;
    margin: 0;
  }
  
  .header .tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
  }
  
  .tab ul{
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  
  .tab .text{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 100px;
    height: 23px;
  }
  
  .tab .text:hover, .tab .text:hover a{
    background-color: #0084A4;
    color: #fff;
  }
  
  .tab a{
    text-decoration: none;
    color: #000;
  }
  
  .isian{
    height: 265vh;
  }
  
  #highlight{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 55vh;
  }
  
  .highlight{
    width: 70%;
    height: 55vh;
  }
  
  .highlight .title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 10vh;
  }
  
  h2{
    margin: 0;
  }
  
  .highlight .slide{
    height: 40vh;
    display: flex;
    justify-content: center;
  }
  
  .highlight .tombol{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
  }
  
  .prev,
  .next{
    cursor: pointer;
    height: 10px;
    color: #bbb;
    transition: 0.2s ease;
  }
  
  .prev:hover,
  .next:hover{
    transform: scale(1.2);
    color: rgba(0,0,0,0.8);
  }
  
  .highlight .item{
    width: 51%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .highlight .item img{
    width: 100%;
  }
  
  .highlight .button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
  }
  
  .highlight .button .line{
    cursor: pointer;
    margin: 0 5px 0 5px;
    border-radius: 20px;
    width: 30px;
    height: 5px;
    transition: 0.5s ease;
    background-color: #bbb;
  }
  
  .button .line:hover{
    background-color: rgba(0,0,0,0.8);
  }
  
  .highlight .button .line.active{
    background-color: rgba(0,0,0,0.8);
  }
  
  .artikel{
    height: 30vh;
    margin: 10px;
    background-color: #0998d1;
    border-radius: 10px;
    border: #808080 1px solid;
  }
  
  .artikel .judul{
    display: flex;
    align-items: center;
    height: 7vh;
  }
  
  .artikel .judul h2{
    margin: 5px 0 0 40px;
  }
  
  .artikel .pilihan{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 23vh;
  }
  
  .artikel .pilihan .kotak{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #bbb 1px solid;
    width: 250px;
    height: 20vh;
    background-color: #fff;
    border-radius: 10px;
  }

  .artikel .pilihan .kotak .circle{
    display: flex;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  } 
  
  .utama{
    height: 130vh;
    display: flex;
  }
  
  .ads{
    margin-top: 15px;
    height: 80%;
    width: 10%;
  }
  
  .article{
    margin-top: 15px;
    padding-left: 5px;
    height: 80%;
    width: 80%;
  }
  
  .article .isi{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 50vh;
    width: 100%;
    border-radius: 5px;
  }
  
  .article .isi .data{
    height: 35vh;
    width: 50vh;
    border-radius: 7px;
    margin-left: 5px;
    overflow: hidden;
    transition: 0.3s ease;
    box-shadow: 2px 4px rgba(0,0,0,0.2);
  }

  .article .isi .data:hover{
    transform: scale(1.02);
  }

  .article .isi .data .gambar{
    height: 25vh;
  }

  .data .judul{
    height: 10vh;
    text-decoration: none;
  }

  .data .judul .atas{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
    padding-left: 2px;
    height: 5vh;
  }

  .data .judul .bawah{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
    height: 5vh;
  }

  .data .judul .bawah .kiri{
    font-size: 12px;
    margin-left: 5px;
  }

  .data .judul .bawah p{
    font-size: 14px;
    outline: none;
  }
  
  .footer{
    background-color: #343646;
    height: 47vh;
    color: #fff;
  }
  
  .footer .title{
    display: flex;
    height: 12vh;
    width: 100%;
  }
  
  .footer .title .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 7%;
  }
  
  .footer .title .logo img{
    width: 61%;
  }
  
  .footer .title .slogan{
    height: 100%;
    width: 90%;
    display: flex;
    font-size: 17px;
    align-items: center;
    font-weight: bold;
  }
  
  .footer .isian{
    height: 33vh;
    width: 100%;
    margin-top: 10px;
    background-color: transparent;
    display: flex;
  }
  
  .footer .isian .menu, .footer .isian .medsos, .footer .isian .kontak{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 33%;
  }
  
  .footer .text{
    height: 100%;
    width: 50%;
  }
  
  .footer #kontak{
    display: none;
  }  

  #kalkulator{
    background-image: url(/asset/wallmorning.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  a:-webkit-any-link{
    color: #000;
    text-decoration: none;
  }